@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text: 'Inter', sans-serif;
    --secondary-text: 'Lexend Deca', sans-serif;
    --primary-color: #AB5CDB;
}

body {
    font-size: 15px;
}

main {}